@import url('../root/root.css');
:root {
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Receipt';
}

header {
    display: flex;
    align-items: center;
    #header_h1 {
        position: absolute;
        --nameLength: 0;
        left: calc(50vw - (var(--nameLength) / 2));
        font-family: var(--defaultFont-レシート);
        font-weight: normal;
        &::before {
            content: "ようこそ、";
        }
        &::after {
            content: " 様";
        }
    }
}

.container{
    display: flex;
    align-items: flex-start;
    margin: 0 10px;
    /* &.active {
        -ms-filter: blur(15px);
        filter: blur(15px);
    } */
    #leftContainer {
        width: 70vw;
        justify-content: space-between;
    }
    #rightContainer {
        width: 30vw;
        justify-content: end;
    }
    .levels {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 3);
        height: 100vh;
        &#lev2 {
            background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.08)15%, rgb(0, 0, 0, .2)50%);
        }
        &#lev3 {
            background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.18)15%, rgb(0, 0, 0, .3)50%);
        }
        ul {
            width: 80%;
            margin: 0 1vw;
        }
        p {
            margin: 10px 0 5px 0;
            font-size: 3em;
            color: rgb(30, 28, 21);
        }
        li {
            margin: 60px 0;
            overflow: hidden;
            display: flex;
            justify-content: center; /* 横方向の中央揃え */
            align-items: center; /* 縦方向の中央揃え */
            border-bottom: dotted 1px rgb(0, 0, 0);
            .temp {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .stNumber {
        width: max-content;
        padding: 3% 10%;
        font-size: 2.7vh;
        mix-blend-mode: normal;
        color: rgb(30, 28, 21);
        &::after {
            content: "";
            aspect-ratio: 1 / 1;
            width: 40px;
            display: inline-block;
            background: url(../images/lock.png) center center no-repeat;
            background-size: contain;
            vertical-align: -1px;
            opacity: 0;
        }     
        &.lock {
            &::after {
                opacity: 1;
            }
        }
    }
}


.my-contact-btn {
    position: relative;
}
/*ボタン内のテキストを疑似要素の上にもってくる*/
.my-contact-btn .tmep {
    position: relative; /* ←ポイント */
    z-index: 2;    /* ←ポイント */
    transition: .3s; /* ←ポイント */
}
.my-contact-btn:hover .temp{
    color: gray;
}
/*ボタン上のアニメーションの設定*/
.my-btn-animation:before {
    content: '';
    position: absolute;
    top: 70%;
    left: 0;
    z-index: 1;
    background: rgba(135, 135, 157, 0.2);
    width: 100%;
    height: 25%;
    transform: scale(0, 1);           /* ←ポイント */
    transition: transform .3s ease;   /* ←ポイント */
    transform-origin: left;           /* ←ポイント */
}
.my-btn-animation:hover:before{
    transform: scale(1, 1);    /* ←ポイント */
    transform-origin: left;  /* ←ポイント */
}

.temp {
    width: 100%;
}
.stage {
    height: 0;
    width: 100%;
    position: relative;
    background: rgb(100, 100, 100);
    transition: ease .3s;
    display: flex;
    opacity: 0;
    h1 {
        color: aliceblue;
        font-weight: normal;
        font-size: 3.2vh;
    }
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
#stage_1.active, #stage_2.active, #stage_3.active, #stage_4.active, #stage_5.active, #stage_6.active, #stage_7.active, #stage_8.active, #stage_9.active {
    height: calc(10vh + 2px + 1px);
    opacity: 1;
}

.thumbnail {
    aspect-ratio: 4 / 3;
    height: 10vh;
    margin: 2px;
    background: rgb(168, 161, 137);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 95%;
    }
}

#preview {
    aspect-ratio: 4 / 3;
    width: 100vw;
    background: rgb(187, 180, 156);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    border-radius: 50px;
    box-shadow: 11px 11px 15px #9b9581,
                -11px -11px 15px #dbd3b7;
}

@media (max-width: 999px) { /*スマホモード*/
    /* body, html {
        overflow: auto;
    } */
    @media (orientation: portrait) {
        header {
            #header_h1 {
                left: calc(100vw - var(--nameLength));
                font-size: 1.6em;
            }
        }
        #js-container {
            flex-direction: column;
            margin: 0;
            #leftContainer {
                width: 100vw;
                margin: 0;
                font-size: 1.8vw;
            }
            .levels {
                height: 40vh;
                &#lev2 {
                    background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, .08)15%, rgb(0, 0, 0, .2)40%, rgb(0, 0, 0, .2)60%, rgb(0, 0, 0, .08)75%, rgb(0, 0, 0, 0)100%);
                }
                &#lev3 {
                    background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, .18)15%, rgb(0, 0, 0, .3)40%, rgb(0, 0, 0, .3)60%, rgb(0, 0, 0, .18)75%, rgb(0, 0, 0, 0)100%);
                }
                p {
                    font-size: 3em;
                }
            }
            .stage h1, .stNumber {
                font-size: 1.5em;
            }
            .thumbnail {
                height: 4vh;
            }
            #rightContainer {
                width: 100vw;
                margin: 0;
                #preview {
                    aspect-ratio: 4 / 3;
                    margin: 10px;
                    margin-top: 3vh;
                }
            }
        }
        #stage_1.active, #stage_2.active, #stage_3.active, #stage_4.active, #stage_5.active, #stage_6.active, #stage_7.active, #stage_8.active, #stage_9.active {
            height: calc(4vh + 2px + 1px);
        }
    }
}
