/*基本設定*/
@import url('../style_hamburger.css');
@font-face {
    font-family: 'Foglihtenno';
    src: url(../fonts/Foglihtenno04-aM2E.otf);
}
@font-face {
    font-family: 'PLENTO-Regular';
    src: url(../fonts/PLENTO-Regular.ttf);
}
@font-face {
    font-family: 'Bad Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
}
@font-face {
    font-family: 'Grandiflora One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    pointer-events: none; /* 画像保存禁止 */
}
body, html {
    height: 100vh;
    width: 100vw;
    background: rgb(187, 180, 156);
}
body, html, a, p {
    user-select: none; /* 選択禁止 */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none;     /* Internet Explorer */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    touch-action: manipulation;
    scrollbar-width: none;
    font-size: 1.8vh;
}

/*--------------------------------------------------*/
:root {
    --stage_1_height: 0;
    --stage_2_height: 0;
    --stage_3_height: 0;
    --stage_4_height: 0;
    --stage_5_height: 0;
    --stage_6_height: 0;
    --stage_7_height: 0;
    --stage_8_height: 0;
    --stage_9_height: 0;
    --thum1_width: 0;
    --thum2_width: 0;
    --thum3_width: 0;
    --thum4_width: 0;
    --thum5_width: 0;
    --thum6_width: 0;
    --thum7_width: 0;
    --thum8_width: 0;
    --thum9_width: 0;
}
main {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container{
    flex-wrap: wrap;
    /* &.active{
        -ms-filter: blur(15px);
        filter: blur(15px);
        } */
    }
    #levels {
    display: flex;
    justify-content: space-around;
    ul {
        width: 27vw;
        margin: 0 1vw;
        position: absolute;
        top: 25vh;
    }
    li {
        border-bottom: solid 1px rgb(0, 0, 0);
    }
    p {
        margin: 10px 0 5px 0;
        font-size: 3.5vh;
    }
    li p {
        margin: 0 0 5px 30px;
        font-size: 2.7vh;
    }
}

.stage {
    position: relative;
    aspect-ratio: 3 / 4;
    background: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
#stage_1 {
    height: var(--stage_1_height);
}
#stage_2 {
    height: var(--stage_2_height);
}
#stage_3 {
    height: var(--stage_3_height);
}
#stage_4 {
    height: var(--stage_4_height);
}
#stage_5 {
    height: var(--stage_5_height);
}
#stage_6 {
    height: var(--stage_6_height);
}
#stage_7 {
    height: var(--stage_7_height);
}
#stage_8 {
    height: var(--stage_8_height);
}
#stage_9 {
    height: var(--stage_9_height);
}

.thumbnail {
    aspect-ratio: 4 /3;
    margin-top: 5vh;
    background: rgb(168, 161, 137);
}
#thum1 {
    width: var(--thum1_width);
}
#thum2 {
    width: var(--thum2_width);
}
#thum3 {
    width: var(--thum3_width);
}
#thum4 {
    width: var(--thum4_width);
}
#thum5 {
    width: var(--thum5_width);
}
#thum6 {
    width: var(--thum6_width);
}
#thum7 {
    width: var(--thum7_width);
}
#thum8 {
    width: var(--thum8_width);
}
#thum9 {
    width: var(--thum9_width);
}
