/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../style_hamburger.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: rgb(168, 161, 137);
    touch-action: manipulation;
    scrollbar-width: none;
    width: 100%;
}


/*--------------------------------------------------*/


.content {
    display: flex;
    flex-wrap: wrap;
}
.stage {
    position: relative;
    aspect-ratio: 3 / 4;
    width: 500px;
    margin: 50px;
    background: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.stage a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.thumbnail {
    aspect-ratio: 4 /3;
    width: 400px;
    margin-top: 40px;
    background: rgb(168, 161, 137);
}