/*基本設定*/
@import url('../style_hamburger.css');
@font-face {
    font-family: 'Foglihtenno';
    src: url(../fonts/Foglihtenno04-aM2E.otf);
}
@font-face {
    font-family: 'Receipt';
    src: url(fonts/レシートフォント.ttf);
}
@font-face {
    font-family: 'PLENTO-Regular';
    src: url(../fonts/PLENTO-Regular.ttf);
}
@font-face {
    font-family: 'CanisMinor-Regular';
    src: url(fonts/CanisMinor-Regular.ttf);
}
@font-face {
    font-family: 'Bad Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
}
@font-face {
    font-family: 'Grandiflora One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px rgb(200, 30, 30, .2); */
}
a:link { color: rgb(30, 28, 21); }                                            /*リンクのデフォルト色*/
a:visited { color: rgb(30, 28, 21); }                                         /*閲覧済みリンク色*/
a:hover { color: rgb(157, 152, 135); }                                           /*リンクを持っているときの色*/
a:active { color: rgb(157, 152, 135); }                                          /*リンクを選択中(リンクにカーソルが重なってる時)の色*/
li {
    list-style: none;
    margin: 15px 0 15px 0;
}
a {
    text-decoration: none;
}
img {
    pointer-events: none; /* 画像保存禁止 */
}
body, html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgb(187, 180, 156);
}
body, html, a, p {
    user-select: none; /* 選択禁止 */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none;     /* Internet Explorer */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    touch-action: none;
    scrollbar-width: none;
    font-size: 1.8vh;
}