li {
    list-style: none;
    margin: 15px 0 15px 0;
}
a {
    text-decoration: none;
}

/*ハンバーガーメニュー*/
.hamburger_button{
    width: 80px;
    height: 100%;
    margin-top: 23px;
    position: sticky;
    top: 23px;
    left: 18px;
    z-index: 9999;
}
/*ハンバーガーの線*/
.hamburger_button span{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    position: relative;
    transition: ease-out .8s;
    display: block;
    background-color: rgb(110, 106, 92);
}
/*ハンバーガーの線の初期位置*/
.hamburger_button span:nth-child(1){
    top: 0;
}
.hamburger_button span:nth-child(2){
    margin: 23px 0;
}
.hamburger_button span:nth-child(3){
    top: 0;
}

/* ハンバーガーメニュークリック時*/
.header__nav.active{
    transform: translateX(0) ;
}
.hamburger_button.active span:nth-child(1){
    transition: ease-out .8s;
    top: 23px;
    transform: rotate(25deg);
}
.hamburger_button.active span:nth-child(2){
    transition: ease-out .8s;
    opacity: 0.8;
    transform: translate(200px, 25px) scaleX(3.5) rotate(180deg); /*translate(x座標, y座標) scaleX(倍) rotate(回転角度)*/
}
.hamburger_button.active span:nth-child(3){
    transition: ease-out .8s;
    top: -23px;
    transform: rotate(-25deg);
}
.hamburger_button.active .text {
    transition: ease-out .8s;
    transform: translateX(-70px);
}
/*「MENU」の文字*/
.TextMask {
    padding: 2px 5px 0 5px ;
    overflow: hidden;
}
.TextMask .text {
    font-family: "Bad Script";
    color: aliceblue;
    text-shadow: 0px 0px 6px #cee1f3, 0px 0px 10px #9fc5e8;
    position: relative;
    top: -30px;
    transition: ease-out .8s;
}
/*マウスが乗った時*/
.hamburger_button:hover {
    .TextMask .text {
        animation: visible .4s ease-out forwards;
    }
}
@keyframes visible {
    from {
        top: -30px;
    }
    to {
        top: 0px;
    }
}
/*マウスが離れた時*/
.hamburger_button:not(:hover) {
    .TextMask .text {
        animation: invisible .4s ease-out forwards;
    }
}
@keyframes invisible {
    from {
        top: 0px;
    }
    to {
        top: -30px;
    }
}
/*メニューの中身*/
.hamburger_items {
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 160px;
    margin: auto;
    z-index: 1;
    transition: opacity 0.6s ease, transform 1.2s ease;
}
/*リストを表示*/
.hamburger_items.active {
    opacity: 1;
}