/*ハンバーガーメニュー*/
.hamburger_button{
    width: 80px;
    height: 100%;
    margin-top: 23px;
    position: sticky;
    top: 23px;
    left: 18px;
    z-index: 9999;
    
    /*マウスが乗った時*/
    &:hover {
        .TextMask .text {
            animation: visible .4s ease forwards;
        }
    }
    
    /*マウスが離れた時*/
    &:not(:hover) {
        .TextMask .text {
            animation: invisible .4s ease forwards;
        }
    }
    
    /*メニューを押したとき*/
    &.active .text {
        transition: ease .8s;
        transform: translateX(-80px);
    }
}
@keyframes visible {
    from {
        top: -40px;
    }
    to {
        top: 0vh;
    }
}
@keyframes invisible {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*ハンバーガーの線*/
.hamburger_button span{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    position: relative;
    transition: ease .8s;
    display: block;
    background-color: rgb(110, 106, 92);
}
/*ハンバーガーの線の初期位置*/
.hamburger_button span:nth-child(1){
    top: 0;
}
.hamburger_button span:nth-child(2){
    margin: 23px 0;
}
.hamburger_button span:nth-child(3){
    top: 0;
}

/* ハンバーガーメニュークリック時*/
.header__nav.active{
    transform: translateX(0) ;
}
.hamburger_button.active span:nth-child(1){
    transition: ease .8s;
    top: 24px;
    transform: rotate(25deg);
}
.hamburger_button.active span:nth-child(2){
    transition: ease .4s;
    opacity: 0;
    transform: translate(80px, 0); /*translate(x座標, y座標) */
}
.hamburger_button.active span:nth-child(3){
    transition: ease .8s;
    top: -24px;
    transform: rotate(-25deg);
}

/*「MENU」の文字*/
.TextMask {
    overflow: hidden;
    height: 100%;
    width: 80px;
    .text {
        font-family: 'PLENTO-Regular';
        font-size: 135%;
        color: aliceblue;
        text-shadow: 0px 0px 6px #cee1f3, 0px 0px 10px #9fc5e8;
        position: relative;
        transition: ease .8s;
    }
}
/*メニューの中身*/
.hamburger_items {
    width: 30%;
    height: 70%;
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 20px;
    margin: auto;
    z-index: 1000;
    transition: opacity 0.6s ease;
    pointer-events: none;
    background-color: rgba(255, 255, 255, .1);
    backdrop-filter: blur(3px);
    border-radius: 20px;
    border: 1px solid rgba(250, 250, 250, .2);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, .2);
    a {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Receipt';
        font-size: 3vh;
        margin: 1vh 0;
        &:focus {
            border: none;
        }
    }
    .temp {
        position: relative;
        top: 68%;
        width: 100%;
    }
    #loginButton {
        width: 10em;
        position: relative;
        left: calc(50% - 5em);
        bottom: 0;
        background: none;
        margin: 1vh 0;
        padding-bottom: 5px;
        border: none;
        border-bottom: dotted 1px var(--defaultColor-Dark);
        font-family: 'Receipt';
        font-size: 3vh;
        transition: .2s ease-out;
        &:hover {
            color: var(--defaultColor-Gray);
        }
        &:focus {
            border: none;
        }
    }
    .my-contact-btn {
        position: relative;
    }
    /*ボタン内のテキストを疑似要素の上にもってくる*/
    .my-contact-btn .temp {
        position: relative; /* ←ポイント */
        z-index: 2;    /* ←ポイント */
        transition: .3s; /* ←ポイント */
    }
    .my-contact-btn:hover .temp{
        color: gray;
    }
    /*ボタン上のアニメーションの設定*/
    .my-btn-animation:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        background: var(--defaultColor-Dark);
        width: 100%;
        height: 5%;
        transform: scale(0, 1);           /* ←ポイント */
        transition: transform .3s ease;   /* ←ポイント */
        transform-origin: left;           /* ←ポイント */
    }
    .my-btn-animation:hover:before{
        transform: scale(1, 1);    /* ←ポイント */
        transform-origin: left;  /* ←ポイント */
    }
    /*リストを表示*/
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-width: 999px) { /*スマホモード*/
    .hamburger_button {
        margin-top: 5%;
        width: 60px;
    }
    .hamburger_button span:nth-child(2){
        margin: 18px 0;
    }
    .hamburger_button.active span:nth-child(1){
        top: 19px;
        transform: rotate(25deg);
    }
    .hamburger_button.active span:nth-child(2){
        opacity: 0;
        transform: translate(60px, 0); /*translate(x座標, y座標) */
    }
    .hamburger_button.active span:nth-child(3){
        top: -19px;
        transform: rotate(-25deg);
    }

    .hamburger_items {
        width: 90%;
        top: 90px;
        left: 5%;
        backdrop-filter: blur(5px);
    }
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
    }
}
