@import url(root.css);
:root {
}

/*--------------------------------------------------*/


/*ここからメイン*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dropArea {
    position: absolute;
    height: 100vh;
    width: 100vw;
    /* z-index: 100; */
}

.circle {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid 1px rgb(157, 152, 135);
    mix-blend-mode: difference;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease, transform 1.2s ease;
    z-index: 0;
    overflow: hidden;
    &:hover {
        opacity: 1;
        transform: translateY(0);
    }
}
#circle1 {
    top: 190px;
    left: 95px;
    width: 110px;
}
#circle2 {
    top: 100px;
    left: 110px;
    width: 160px;
    clip-path: circle(50%);
    background: rgb(157, 152, 135);
}
#circle3 {
    bottom: -700px;
    right: -450px;
    width: 1000px;
    border: solid 2px rgb(157, 152, 135);
}
#circle4 {
    top: -25vh;
    right: -12vw;
    width: 410px;
    clip-path: circle(50%);
    background: rgb(157, 152, 135);
}
#circle5 {
    position: relative;
    top: -10vh;
    right: -97vw;
}
.planet {
    aspect-ratio: 1 / 1;
    position: absolute;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
}
#star {
    height: 12vh;
    clip-path: circle(50%);
    background: rgb(157, 152, 135);
    top: -6vh;
    left: -6vh;
}
#planet_1 {
    height: 20vh;
    animation: planet-rotation 3s -11s linear infinite;
}
#planet_2 {
    height: 30vh;
    animation: planet-reverse-rotation 6s -21s linear infinite;
}
#planet_3 {
    height: 36vh;
    animation: planet-reverse-rotation 9s -31s linear infinite;
}
#planet_4 {
    height: 55vh;
    animation: planet-rotation 17s -41s linear infinite;
}
#planet_5 {
    height: 75vh;
    animation: planet-reverse-rotation 29s -51s linear infinite;
}
#planet_6 {
    height: 88vh;
    animation: planet-rotation 43s -71s linear infinite;
}
@keyframes planet-rotation {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
@keyframes planet-reverse-rotation {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}
.line1 {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    overflow: hidden;
    height: 25px;
    width: 150px;
    display: inline-block;
    z-index: 0;
    span {
        width: 100%;
        height: 4px;
        margin-bottom: 5px;
        display: block;
        background: rgb(224, 219, 201);
    }
}
.line1 .block {
    position: relative;
    top: -300%;
    width: 200px;
    transform-origin: center center 0;
    transform: rotate(110deg);
}
.box1 {
    position: absolute;
    aspect-ratio: 1 / 1;
    top: 2vw;
    right: 2vw;
    height: 20vh;
    z-index: 0;
}
.dot {
    background-image: radial-gradient(rgb(157, 152, 135) 6px, rgb(0, 0, 0, 0) 7px);
    background-size: 2.9vh 2.9vh;
    mix-blend-mode: difference;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* &.active{
        -ms-filter: blur(15px);
        filter: blur(15px);
    } */
}
.loginbox {
    width: 30vw;
    height: 82vh;
    border-radius: 100px;
    text-align: center;
    border: double 5.5px rgb(110, 106, 92);
}

.title p {
    font-family: 'CanisMinor-Regular';
    font-weight: nomal;
    color: aliceblue;
    text-shadow: 0px 0px 12px #ffffffaa;
}
.gametitle {
    font-size: 8.5vh;
    margin-top: 3vh;
    animation: rainbow1 .16s linear infinite;
}
.welcome {
    font-size:4.3vh;
    margin : -2vh 0 6vh 0;
    animation: rainbow2 .16s linear infinite;
}
.kakapo {
    position: absolute;
    top: 16%;
    left: calc(50vw - 60px);
    img {
        aspect-ratio: 1 / 1;
        width: 0px;
    }
}
.prompt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.upload_button {
    aspect-ratio: 9 / 1.2; /*アスペクト比設定*/
    width: 70%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: rgb(0, 0, 0, .2);
    box-shadow: 10px 20px 20px rgb(0, 0, 0, .42),
                inset 10px 20px 25px rgb(212, 203, 175, .82);
    margin-bottom: 5%;
    padding: .7% 1.5%;
    border-top: solid 1px rgb(250, 250, 250, .5);
    border-left: solid 1px rgb(250, 250, 250, .6);
    border-right: solid 1px rgb(250, 250, 250, .3);
    border-bottom: solid 1px rgb(250, 250, 250, .3);
    border-radius: 12px;
    text-shadow: 0 0 2px rgb(255, 255, 255, .4), 
                0 0 6px rgb(212, 203, 175);
    transition: .3s ease-out;
    z-index: 101;
    &:hover {
        box-shadow: 7px 14px 20px rgb(0, 0, 0, .47),
                    inset 7px 14px 25px rgb(212, 203, 175, .9);
    }
    img {
        margin-right: 2%;
        height: 35px;
    }
}
.newUserBox {
    width: 70%;
    height: 30vh;
    position: relative;
    padding: .7% 1.5%;
    text-align: left;
    background: rgb(0, 0, 0, .2);
    border-radius: 12px;
    box-shadow: 10px 20px 25px rgb(0, 0, 0, .42),
                inset 10px 20px 65px rgb(212, 203, 175, .82);
    border-top: solid 1px rgb(250, 250, 250, .5);
    border-left: solid 1px rgb(250, 250, 250, .6);
    border-right: solid 1px rgb(250, 250, 250, .3);
    border-bottom: solid 1px rgb(250, 250, 250, .3);
    z-index: 101;
}
.newUserBox p, .upload_button p {
    position: relative;
    left: 2.5%;
}
#newName {
    --newName-width: 95%;
    width: var(--newName-width);
    height: 3.5vh;
    position: relative;
    left: calc(50% - (var(--newName-width) / 2));
    margin-top: 8px;
    padding: 1%;
    font-size: 1.6vh;
    border: none;
    border-radius: 5px;
    background: rgb(255, 253, 236, .6);
}
.done_button {
    aspect-ratio: 5 / 2;
    height: 4vh;
    position: relative;
    left: 70%;
    margin-top: 2vh;
    background: rgb(0, 0, 0, .2);
    box-shadow: 5px 10px 15px rgb(0, 0, 0, .32),
                inset 5px 10px 25px rgb(175, 167, 144, .82);
    border-top: solid 1px rgb(250, 250, 250, .5);
    border-left: solid 1px rgb(250, 250, 250, .6);
    border-right: solid 1px rgb(250, 250, 250, .3);
    border-bottom: solid 1px rgb(250, 250, 250, .3);
    border-radius: 6px;
    transition: .3s ease-out;
    &:hover {
        box-shadow: 4px 8px 15px rgb(0, 0, 0, .32),
                    inset 4px 8px 25px rgb(175, 167, 144, .82);
        text-shadow: 0 0 2px rgb(255, 255, 255, .2),
                    0 0 5px rgb(175, 167, 144, .5);
    }
    p {
        font-family: 'Bad Script';
        margin: 0;
        color: black;
    }
}
.upload_button:focus, #newName:focus, .done_button:focus {
    outline: 0;
}

#downloadModal {
    display: none;
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .2);
    opacity: 0;
    z-index: 9999;
    &:hover {
        opacity: 1;
        transform: translateY(0);
    }
    div {
        width: 85vw;
        /* background: url(5A5H3OTZwMu6RK31764988954_1764988975.png) no-repeat center rgb(255, 255, 255, .1);
        background-size: cover; */
        background: rgb(255, 255, 255, .2);
        backdrop-filter: blur(3px);
        box-shadow: 0px 15px 20px rgba(0, 0, 0, .2);
        border-radius: 20px;
        border: 1px solid rgb(250, 250, 250, .2);
        padding: 20px;
        text-align: center;
        a, p {
            font-family: 'Receipt';
            font-size: 22px;
            text-shadow: 0 0 5px rgb(255, 255, 255, 0.6);
        }
    }
}

@keyframes rainbow1 {
    100% { background-position: 200%; }
}
@keyframes rainbow2 {
    100% { background-position: -200%; }
}
@media (max-width: 999px) { /*スマホモード*/
    .hamburger_button {
        margin-top: 10%;
    }
    .loginbox {
        height: 75vh;
        width: 95vw;
    }
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        #circle1 {
            width: 12vw;
            top: 23vh;
            left: 5vw;
        }
        #circle2 {
            width: 20vw;
            top: 16vh;
            left: 9vw;
        }
        #circle3 {
            width: 115vw;
            top: 77vh;
            right: -55vw;
        }
        #circle4 {
            width: 47vw;
            top: -13vh;
            right: -14vw;
        }
        #circle5 {
            top: -11vh;
            right: -95vw;
        }
        #star {
            height: 7vh;
            top: -3.5vh;
            left: -3.5vh;
        }
        #planet_1 {
            height: 11.67vh;
        }
        #planet_2 {
            height: 17.5vh;
        }
        #planet_3 {
            height: 21vh;
        }
        #planet_4 {
            height: 32.1vh;
        }
        #planet_5 {
            height: 43.75vh;
        }
        #planet_6 {
            height: 51.3vh;
        }
        .box1 {
            height: 10vh;
        }
        .dot {
            background-image: radial-gradient(rgb(157, 152, 135) 5px, rgb(0, 0, 0, 0) 5px);
            background-size: 1.7vh 1.7vh;
        }
        .line1 {
            bottom: 5%;
        }
        .welcome {
            margin-bottom: 5vh;
        }
        .upload_button, .newUserBox {
            width: 55%;
        }
        .upload_button {
            aspect-ratio: 9 / 1.5;
            img {
                height: 22px;
            }
        }
        .newUserBox p, .upload_button p, #newName, .done_button p {
            font-size: 1.2vh;
        }
        .done_button {
            height: 2.8vh;
            left: 65%;
        }
    }
    @media (orientation: landscape) {   /*横向き用（landscape: 風景）*/
        .gametitle {
            margin: 2vh 0vw 10vh 0vw;
            font-size: 12vh;
        }
        .welcome {
            font-size: 6vh;
            margin: -17vh 0 8vh;
        }
        .upload_button {
            width: 50%;
            &img {
                height: 20px;
            }
            &p {
                font-size: 4vh;
            }
        }
    }
}
@media (max-width: 1400px) {    /*パッドモード*/
    @media(min-width: 1000px) {
        .loginbox {
            width: 55vw;
        }
        .upload_button img {
            height: 70%;
        }
        @media (orientation: portrait) {
            .loginbox {
                height: 95vh;
                width: 95vw;
            }
            .upload_button {
                width: 65%;
            }
            .upload_button p {
                font-size: 2vh;
            }
        }
        @media (orientation: landscape) {
            .gametitle {
                margin: 5vh 0 10vh 0;
                font-size: 10vh;
            }
            .welcome {
                margin: -16vh 0 12vh;
            }
            .upload_button, .newUserBox {
                width: 30%;
            }
        }
    }
}
