/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../../../root/style_pageback.css');
@import url('../../../root/style_clear_icon.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: var(--defaultColor);
    touch-action: manipulation;
    scrollbar-width: none;
    --htmlWidth: 100%;
    --htmlHeight: 100%;
    width: var(--htmlWidth);
    height: var(--htmlHeight);
    overflow: hidden;
    transition: 1s var(--transition-move);
}


/*--------------------------------------------------*/

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: center;
    overflow: hidden;
    #tabBar {
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* margin-bottom: 10px; */
        background: rgb(30, 28, 21, .8);
        #leftContent {
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-left: 20px;
            padding: 10px 0;
            #symbol {
                aspect-ratio: 1 / 1;
                height: 100%;
                margin: 15px 20px;
                background: linear-gradient(to top left, rgb(10, 130, 211), rgb(98, 198, 209));
                &::before {
                    content: "";
                    width: 100%;
                    height: 10px;
                    display: block;
                    position: relative;
                    top: calc(50% - 5px);
                    background: rgb(30, 28, 21, .8);
                }
                &::after {
                    content: "";
                    width: 10px;
                    height: 100%;
                    display: block;
                    position: relative;
                    top: -9%;
                    left: calc(50% - 5px);
                    background: rgb(30, 28, 21, .8);
                }
            }
            #particleCanvas {
                position: absolute;
                top: 0;
                left: 0;
            }
            #clearIcon {
                position: relative;
                width: 110px;
                margin: 0 20px;
            }
            #Edge {
                background: url('../../../images/stagesImg/2/Edge_Icon.png') no-repeat;
            }
            #Chrome {
                background: url('../../../images/stagesImg/2/chrome.png');
            }
            #VSCode {
                background: url('../../../images/stagesImg/2/VisualStudioCode_icon.png');
            }
            #Edge, #Chrome, #VSCode {
                aspect-ratio: 1 / 1;
                width: 110px;
                margin: 0 20px;
                background-size: cover;
            }
        }
        #rightContent {
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 30px;
            color: var(--defaultColor-Light);
            #time p {
                text-align: end;
                font-size: 30px;
            }
            #bell {
                aspect-ratio: 1 / 1;
                width: 60px;
                height: 60px;
                margin-left: 10px;
                background: url(../../../images/stagesImg/2/bell.png) no-repeat;
                background-size: cover;
            }
        }
    }
}

@media (max-width: 999px) { /*スマホモード*/
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        main {
            padding: 10px;
            #tabBar {
                justify-content: center;
                border-radius: 30px;
                #leftContent {
                    margin-left: 0;
                    #symbol {
                        width: 90px;
                        height: 90px;
                        background: url(../../../images/stagesImg/2/setting.png) no-repeat;
                        background-size: cover;
                        margin: 10px;
                        &::before, &::after {
                            background: none;
                        }
                    }
                    #clearIcon {
                        width: 80px;
                        margin: 10px;
                    }
                    #Chrome {
                        margin: 10px;
                        width: 80px;
                        height: 80px;
                    }
                    #Edge {
                        display: none;
                    }
                    #VSCode {
                        width: 80px;
                        height: 80px;
                        margin: 10px;
                        background: url(../../../images/stagesImg/2/youtube.png) no-repeat;
                        background-size: cover;
                    }
                }
                #rightContent {
                    display: none;
                }
            }
        }
    }
}
