/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../../../root/style_pageback.css');
@import url('../../../root/style_clear_icon.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: var(--defaultColor);
    touch-action: manipulation;
    scrollbar-width: none;
    --htmlWidth: 100%;
    --htmlHeight: 100%;
    width: var(--htmlWidth);
    height: var(--htmlHeight);
    overflow: hidden;
    transition: 1s cubic-bezier(0.87, 0, 0.13, 1);
}


/*--------------------------------------------------*/

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    #clockFace {
        aspect-ratio: 1 / 1;
        width: 30vw;
        height: 30vw;
        position: absolute;
        top: calc(50vh - 15vw);
        left: calc(50vw - 15vw);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background: rgb(200, 0, 0 ,.2); */
        .clock {
            aspect-ratio: 1 / 1;
            width: 0%;
            position: absolute;
            border-radius: 50%;
        }

        #foundation {
            width: 100%;
            background: var(--defaultColor);
            box-shadow:  11px 11px 22px #928c7a,
                        -11px -11px 22px #e4dcbe;
        }
        .hole {
            border: solid 3px transparent;
            background: linear-gradient(
                            var(--defaultColor-Dark),
                            var(--defaultColor-Dark)
                        ) padding-box,
                        conic-gradient(
                            rgb(122, 116, 92),
                            var(--defaultColor-Light),
                            var(--defaultColor-Light),
                            rgb(221, 213, 190),
                            rgb(221, 213, 190),
                            rgb(58, 55, 45),
                            rgb(58, 55, 45),
                            rgb(122, 116, 92)
                        ) border-box;
            &#secondHole {
                width: 85%;
            }
            &#minuteHole {
                width: 75%;
            }
            &#hourHole {
                width: 55%;
            }
            &#timeZoneHole {
                width: 25%;
            }
        }
        .highlight {
            background: conic-gradient(
                rgb(221, 213, 190),
                rgb(122, 116, 92),
                rgb(122, 116, 92),
                rgb(99, 94, 76),
                rgb(99, 94, 76),
                var(--defaultColor-Light),
                var(--defaultColor-Light),
                rgb(221, 213, 190)
            );
            &#secondLight {
                width: 81%;
            }
            &#minuteLight {
                width: 71%;
            }
            &#hourLight {
                width: 51%;
            }
            &#timeZoneLight {
                width: 21%;
            }
        }
        .dial {
            background: var(--defaultColor);
            /* box-shadow: 50px 20px 20px rgb(10, 10, 10, .2),
                        20px 20px 10px rgb(10, 10, 10, .1),
                        20px 40px 20px rgb(10, 10, 10, .3); */
            rotate: 90deg;
            /* &:hover {
                box-shadow: none;
                box-shadow: 5px 2px 20px rgb(10, 10, 10, .0),
                            2px 2px 10px rgb(10, 10, 10, .0),
                            2px 4px 20px rgb(10, 10, 10, .0);
            } */
            &::after {
                content: "";
                display: block;
                width: 50%;
                height: 2px;
                position: relative;
                top: 50%;
                left: 0;
                background: var(--defaultColor-Dark);
            }
            &#second {
                width: 80%;
                transition: transform 1s linear;
            }
            &#minute {
                width: 70%;
                transition: transform 1s linear;
            }
            &#hour {
                width: 50%;
                transition: transform 1s linear;
            }
            &#timeZone {
                width: 20%;
                --sora-color: var(--defaultColor);
                background: var(--sora-color);
                border: solid 8px var(--defaultColor);
                transition: 1s linear;
                &::after {
                    display: none;
                }
            }
        }
    }
    #clearIcon {
        top: calc(50vh - 40px);
        &.morning {
            left: calc(30vw - 40px);
        }
        &.evening {
            top: calc(10vh - 40px);
            left: calc(50vw - 40px);
        }
        &.night {
            right: calc(30vw - 40px);
        }
    }
}

@media (max-width: 999px) and (orientation: portrait) { /*スマホモード*/
    main {
        #clockFace {
            width: 56vw;
            height: 56vw;
            top: calc(50vh - 28vw);
            left: calc(50vw - 28vw);
            .hole {
                border: solid 1px transparent;
            }
        }
        #clearIcon {
            &.morning {
                bottom: 20vh;
                left: 8vw;
            }
            &.evening {
                top: 27vh;
                left: calc(50vw - 30px);
            }
            &.night {
                bottom: 20vh;
                right: 8vw;
            }
        }
    }
}
