@import url('../root/root.css');
:root {
}

/*--------------------------------------------------*/


/*ここからメイン*/
main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: solid 1px rgb(157, 152, 135);
    mix-blend-mode: difference;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .6s ease, transform 1.2s ease;
    z-index: 0;
    overflow: hidden;
    &:hover {
        opacity: 1;
        transform: translateY(0);
    }
}
#circle1 {
    top: 190px;
    left: 95px;
    width: 110px;
}
#circle2 {
    top: 100px;
    left: 110px;
    width: 160px;
    clip-path: circle(50%);
    background: rgb(157, 152, 135);
}



#circle3 {
    bottom: -700px;
    right: -450px;
    width: 1000px;
    border: solid 2px rgb(157, 152, 135);
}
#circle4 {
    top: -25vh;
    right: -12vw;
    width: 410px;
    clip-path: circle(50%);
    background: rgb(157, 152, 135);
}
#circle5 {
    position: relative;
    top: calc(50vh - 10vh);
    left: 50vw;
    mix-blend-mode: darken;
}
.planet {
    aspect-ratio: 1 / 1;
    position: absolute;
    mix-blend-mode: difference;
    top: 0;
    left: 0;
}
#star {
    width: 14vh;
    height: 14vh;
    top: -7vh;
    left: -7vh;
}
@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: .001dpcm) {
    .noise {
        position: absolute;
        background: radial-gradient(circle at 50% 50%, rgb(0, 0, 0), rgb(0, 0, 0, 0)), url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
        filter: contrast(200%) brightness(900%) invert(0%);
        mix-blend-mode: multiply;
    }
}
#planet_1 {
    height: 20vh;
    animation: planet-rotation 5s -11s linear infinite;
}
#planet_2 {
    height: 30vh;
    animation: planet-reverse-rotation 7s -21s linear infinite;
}
#planet_3 {
    height: 36vh;
    animation: planet-reverse-rotation 9s -31s linear infinite;
}
#planet_4 {
    height: 55vh;
    animation: planet-rotation 17s -41s linear infinite;
}
#planet_5 {
    height: 75vh;
    animation: planet-reverse-rotation 29s -51s linear infinite;
}
#planet_6 {
    height: 88vh;
    animation: planet-rotation 43s -71s linear infinite;
}
@keyframes planet-rotation {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}
@keyframes planet-reverse-rotation {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
}
.line1 {
    position: absolute;
    bottom: 5vh;
    left: 5vw;
    overflow: hidden;
    height: 25px;
    width: 150px;
    display: inline-block;
    z-index: 0;
    span {
        width: 100%;
        height: 4px;
        margin-bottom: 5px;
        display: block;
        background: rgb(224, 219, 201);
    }
}
.line1 .block {
    position: relative;
    top: -300%;
    width: 200px;
    transform-origin: center center 0;
    transform: rotate(110deg);
}
.box1 {
    position: absolute;
    aspect-ratio: 1 / 1;
    top: 2vw;
    right: 2vw;
    height: 20vh;
    z-index: 0;
}
.dot {
    background-image: radial-gradient(rgb(157, 152, 135) 6px, rgb(0, 0, 0, 0) 7px);
    background-size: 2.9vh 2.9vh;
    mix-blend-mode: difference;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    #content {
        width: 45vw;
        mix-blend-mode: difference;
        p {
            margin-bottom: 5px;
            font-family: var(--defaultFont-バッド);
            font-size: 18px;
            color: var(--defaultColor-Light);
            span {
                font-size: 36px;
            }
            &#first {
                font-size: 36px;
                text-align: center;
            }
            &#end {
                font-size: 30px;
                text-align: end;
            }
        }
    }
}

#downloadModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, .2);
    z-index: 9999;
    &:hover {
        opacity: 1;
        transform: translateY(0);
    }
    div {
        width: 85vw;
        background: rgb(255, 255, 255, .2);
        backdrop-filter: blur(3px);
        box-shadow: 0px 15px 20px rgba(0, 0, 0, .2);
        border-radius: 20px;
        border: 1px solid rgb(250, 250, 250, .2);
        padding: 20px;
        text-align: center;
        a, p {
            font-family: var(--defaultFont-もち);
            font-size: 22px;
            text-shadow: 0 0 5px rgb(255, 255, 255, 0.6);
        }
        button {
            aspect-ratio: 5 / 2;
            height: 4vh;
            left: 70%;
            margin-top: 2vh;
            background: rgb(187, 180, 156, .5);
            filter: drop-shadow(8px 8px 3px rgb(0, 0, 0, .42));
            border-right: solid 1px rgb(250, 250, 250, .5);
            border-bottom: solid 1px rgb(250, 250, 250, .6);
            border-top: solid 1px rgb(250, 250, 250, .3);
            border-left: solid 1px rgb(250, 250, 250, .3);
            border-radius: 6px;
            text-shadow: 0 0 2px rgb(255, 255, 255, .2),
                        0 0 5px rgb(175, 167, 144, .5);
            font-family: var(--defaultFont-もち);
            transition: .3s ease-out;
            &:hover {
                filter: drop-shadow(5px 5px 1px rgb(0, 0, 0, .52));
            }
        }
    }
}

@keyframes rainbow1 {
    100% { background-position: 200%; }
}
@keyframes rainbow2 {
    100% { background-position: -200%; }
}
@media (max-width: 999px) { /*スマホモード*/
    .hamburger_button {
        margin-top: 10%;
    }
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        #circle1 {
            width: 12vw;
            top: 23vh;
            left: 5vw;
        }
        #circle2 {
            width: 20vw;
            top: 16vh;
            left: 9vw;
        }
        #circle3 {
            width: 115vw;
            top: 77vh;
            right: -55vw;
        }
        #circle4 {
            width: 47vw;
            top: -13vh;
            right: -14vw;
        }
        #circle5 {
            top: calc(50vh - 5.83);
        }
        #star {
            width: 8.6vh;
            height: 8.6vh;
            top: -4.3vh;
            left: -4.3vh;
        }
        #planet_1 {
            height: 11.67vh;
        }
        #planet_2 {
            height: 17.5vh;
        }
        #planet_3 {
            height: 21vh;
        }
        #planet_4 {
            height: 32.1vh;
        }
        #planet_5 {
            height: 43.75vh;
        }
        #planet_6 {
            height: 51.3vh;
        }
        .box1 {
            height: 10vh;
        }
        .dot {
            background-image: radial-gradient(rgb(157, 152, 135) 5px, rgb(0, 0, 0, 0) 5px);
            background-size: 1.7vh 1.7vh;
        }
        .line1 {
            bottom: 5%;
        }
        .container {
            #content {
                width: 85vw;
                p {
                    margin-bottom: 2px;
                    font-size: 13px;
                    span {
                        font-size: 26px;
                    }
                    &#first, &#end {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}
