/*基本設定*/
@import url('style_hamburger.css');
@import url('style_pageback.css');
@font-face {
    font-family: 'Foglihtenno';
    src: url('../fonts/Foglihtenno04-aM2E.otf');
}
@font-face {
    font-family: 'Receipt';
    src: url('../fonts/レシートフォント.ttf');
}
@font-face {
    font-family: 'PLENTO-Regular';
    src: url('../fonts/PLENTO-Regular.ttf');
}
@font-face {
    font-family: 'Canis Minor';
    src: url('../fonts/CanisMinor/CanisMinor-Regular.eot');
    src: local('CanisMinor-Regular'),
        url('../fonts/CanisMinor/CanisMinor-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CanisMinor/CanisMinor-Regular.woff2') format('woff2'),
        url('../fonts/CanisMinor/CanisMinor-Regular.woff') format('woff'),
        url('../fonts/CanisMinor/CanisMinor-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bad Script', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
}
@font-face {
    font-family: 'Grandiflora One', cursive;
    src: url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
}
:root {
    --defaultColor: rgb(187, 180, 156);
    --defaultColor-Light: rgb(212, 203, 175);
    --defaultColor-Gray: rgb(157, 152, 135);
    --defaultColor-Dark: rgb(30, 28, 21);
    --defaultFont-星: 'Canis Minor';
    --defaultFont-レシート: 'Receipt';
    --defaultFont-バッド: 'Bad Script', cursive;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 1px rgb(200, 30, 30, .2); */
}
body, html {
    width: 100vw;
    height: 100vh;
    background: var(--defaultColor);
    overflow-x: hidden;
    overflow-y: hidden;
}
body, html, a, p {
    user-select: none; /* 選択禁止 */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
    -ms-user-select: none;     /* Internet Explorer */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    touch-action: none;
    scrollbar-width: none;
    font-size: 1.8vh;
}
a:link { color: var(--defaultColor-Dark); }                                            /*リンクのデフォルト色*/
a:visited { color: var(--defaultColor-Dark); }                                         /*閲覧済みリンク色*/
a:hover { color: var(--defaultColor-Gray); }                                           /*リンクを持っているときの色*/
a:active { color: var(--defaultColor-Gray); }                                          /*リンクを選択中(リンクにカーソルが重なってる時)の色*/
li {
    list-style: none;
    margin: 15px 0 15px 0;
}
a {
    text-decoration: none;
}
img, svg {
    max-width: 100%;
    pointer-events: none; /* 画像保存禁止 */
}
