.clear_Icon {
    position: absolute;
    aspect-ratio: 1 / 1;
    &#clearIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
    }
    .outLine {
        width: 100%;
        mix-blend-mode: color-dodge;
        background: rgb(157, 152, 135);
        border-radius: 20%;
    }
    .rectangle {
        width: 92%;
        mix-blend-mode: multiply;
        background: rgb(157, 152, 135);
        border-radius: 20%;
    }
    .rectangle2 {
        width: 80%;
        mix-blend-mode: color-dodge;
        background: rgb(157, 152, 135);
        border-radius: 20%;
        transition: 1s cubic-bezier(0.87, 0, 0.13, 1);
        opacity: 0;
    }
}

@media (max-width: 999px) and (orientation: portrait) { /*スマホモード*/
    .clear_Icon {
        &#clearIcon {
            width: 60px;
        }
    }
}
