@import url('root.css');


.pageback_button{
    width: 80px;
    height: 80px;
    margin-top: 23px;
    position: sticky;
    top: 23px;
    left: 18px;
    z-index: 99999;
    a {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1000;
    }

    /*マウスが乗った時*/
    &:hover {
        span.arrow {
            /* animation: ArrowRotation .6s ease initial; */
            transform-origin: 50% 50%;
        }
        .TextMask .text {
            animation: visible .4s ease forwards;
        }
    }
    
    /*マウスが離れた時*/
    &:not(:hover) {
        .TextMask .text {
            animation: invisible .4s ease forwards;
        }
    }
    
    /*メニューを押したとき*/
    &.active .text {
        transition: ease .8s;
    }
}
/* @keyframes ArrowRotation {
    0% {
        transform: rotateX(0) rotateY(0);
    }
    100% {
        transform: rotateX(180deg) rotateY(-180deg);
    }
} */
@keyframes visible {
    from {
        top: -40px;
    }
    to {
        top: 0vh;
    }
}
@keyframes invisible {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
/*ハンバーガーの線*/
.pageback_button span{
    width: 100%;
    height: 2px;
    border-radius: 2px;
    position: relative;
    transition: ease .8s;
    display: block;
    background-color: rgb(110, 106, 92);
    &.arrow {
        height: 40px;
        width: 40px;
        background-color: rgb(0, 0, 0, 0);
        border: solid rgb(110, 106, 92);
        border-width: 2px 0 0 2px;
        transform: rotate(-45deg);
    }
}
/*ハンバーガーの線の初期位置*/
.pageback_button span:nth-child(3){
    top: 9px; /*arrowの約半分*/
}
.pageback_button span:nth-child(2){
    top: 30px;
}

/*「BACK」の文字*/
.TextMask {
    overflow: hidden;
    height: 100%;
    width: 80px;
    margin-top: 12px;
    .text {
        font-family: 'PLENTO-Regular';
        font-size: 135%;
        color: aliceblue;
        text-shadow: 0px 0px 6px #cee1f3, 0px 0px 10px #9fc5e8;
        position: relative;
        transition: ease .8s;
    }
}

@media (max-width: 999px) { /*スマホモード*/
    .pageback_button {
        margin-top: 5%;
    }
    .pageback_items {
        width: 90%;
        top: 90px;
        left: 5%;
        backdrop-filter: blur(5px);
    }
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
    }
}
