.clearIcon {
    position: absolute;
    aspect-ratio: 1 / 1;
    &.area {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
    }
    .outline {
        width: 100%;
        mix-blend-mode: color-dodge;
        background: rgb(157, 152, 135);
        border-radius: 20%;
    }
    .foundation {
        width: 92%;
        mix-blend-mode: multiply;
        background: rgb(157, 152, 135);
        border-radius: 20%;
    }
    .checkbox {
        width: 80%;
        mix-blend-mode: color-dodge;
        background: rgb(157, 152, 135);
        border-radius: 20%;
        transition: 1s var(--transition-move);
        opacity: 0;
    }
}

@media (max-width: 999px) and (orientation: portrait) { /*スマホモード*/
    .clearIcon {
        &.area {
            width: 60px;
        }
    }
}
