.clear_Icon {
    position: absolute;
    aspect-ratio: 1 / 1;
    &#clearIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
    }
    #outLine {
        width: 80px;
        mix-blend-mode: color-dodge;
        background: rgb(157, 152, 135);
        border-radius: 17.5px;
    }
    #rectangle {
        width: 75px;
        mix-blend-mode: multiply;
        background: rgb(157, 152, 135);
        border-radius: 15px;
    }
    #rectangle2 {
        width: 65px;
        mix-blend-mode: color-dodge;
        background: rgb(157, 152, 135);
        border-radius: 12.5px;
        transition: 1s cubic-bezier(0.87, 0, 0.13, 1);
        opacity: 0;
    }
}