/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../../../style_pageback.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: rgb(168, 161, 137);
    touch-action: manipulation;
    scrollbar-width: none;
    --htmlWidth: 100%;
    --htmlHeight: 100%;
    width: var(--htmlWidth);
    height: var(--htmlHeight);
    overflow: hidden;
}


/*--------------------------------------------------*/

#tile {
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 95vh;
    left: 0;
    #moveTile {
        --tileWidth: 50%;
        --volume: 0%;
        width: var(--tileWidth);
        height: 3vh;
        background: white;
        position: relative;
        bottom: calc(var(--volume) + 10%);
        border-radius: 1vh;
        left: calc((100% - var(--tileWidth)) / 2);
        transition: ease .1s;
        text-align: center;
        &::before {
            content: "音量 -- ";
        }
        &::after {
            content: "% --";
        }
    }
}
