/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../../../root/style_pageback.css');
@import url('../../../root/style_clear_icon.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: var(--defaultColor);
    touch-action: manipulation;
    scrollbar-width: none;
    --htmlWidth: 100%;
    --htmlHeight: 100%;
    width: var(--htmlWidth);
    height: var(--htmlHeight);
    overflow: hidden;
    transition: 1s var(--transition-move);
}
:root {
    --defaultWidh-5-0: 230px;
    --defaultWidh-5-1: 50px;
    --defaultWidh-5-2: 380px;
    --defaultWidh-5-3: 990px;
    --defaultWidh-5-4: 130px;
}


/*--------------------------------------------------*/

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #clearIcon_0 {
        width: 90px;
        top: calc(80vh - 45px);
        left: calc(10vw - 45px);
    }
    #clearIcon_1 {
        width: 140px;
        top: calc(25vh - 70px);
        left: calc(30vw - 70px);
    }
    #clearIcon_2 {
        width: 60px;
        top: calc(50vh - 30px);
        left: calc(50vw - 30px);
    }
    #clearIcon_3 {
        top: calc(86vh - 40px);
        right: calc(30vw - 40px);
    }
    #clearIcon_4 {
        width: 260px;
        top: calc(1vh - 130px);
        right: calc(10vw - 130px);
    }
    #checkbox_5_0, #checkbox_5_1, #checkbox_5_2, #checkbox_5_3, #checkbox_5_4 {
        mix-blend-mode: color-dodge;
        background: var(--defaultColor-Dark);
        border-radius: 20%;
        transition: 1s var(--transition-move);
        opacity: 1;
        z-index: 99;
    }
    #checkbox_5_0 {
        width: var(--defaultWidh-5-0);
    }
    #checkbox_5_1 {
        width: var(--defaultWidh-5-1);
    }
    #checkbox_5_2 {
        width: var(--defaultWidh-5-2);
    }
    #checkbox_5_3 {
        width: var(--defaultWidh-5-3);
    }
    #checkbox_5_4 {
        width: var(--defaultWidh-5-4);
    }
}

@media (max-width: 999px) { /*スマホモード*/
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        main {
            /* #clearIcon_0 {
                width: 90px;
                top: calc(80vh - 45px);
                left: calc(10vw - 45px);
            }
            #clearIcon_1 {
                width: 140px;
                top: calc(25vh - 70px);
                left: calc(30vw - 70px);
            }
            #clearIcon_2 {
                width: 60px;
                top: calc(50vh - 30px);
                left: calc(50vw - 30px);
            }
            #clearIcon_3 {
                top: calc(86vh - 40px);
                right: calc(30vw - 40px);
            }
            #clearIcon_4 {
                width: 260px;
                top: calc(1vh - 130px);
                right: calc(10vw - 130px);
            } */
        }
    }
}
