/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../../../root/style_pageback.css');
@import url('../../../root/style_clear_icon.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: var(--defaultColor);
    touch-action: manipulation;
    scrollbar-width: none;
    --htmlWidth: 100%;
    --htmlHeight: 100%;
    width: var(--htmlWidth);
    height: var(--htmlHeight);
    overflow: hidden;
    transition: 1s var(--transition-move);
}


/*--------------------------------------------------*/

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .brackets {
        aspect-ratio: 1 / 1;
        position: absolute;
        background: transparent;
        &.outside {
            width: 6%;
            &.top_left {
                top: 6%;
                left: 6%;
                box-shadow: inset 25px 25px 0px var(--defaultColor-Dark);
            }
            &.top_right {
                top: 6%;
                right: 6%;
                box-shadow: inset -25px 25px 0px var(--defaultColor-Light);
            }
            &.bottom_right {
                bottom: 6%;
                right: 6%;
                box-shadow: inset -25px -25px 0px var(--defaultColor-Dark);
            }
            &.bottom_left {
                bottom: 6%;
                left: 6%;
                box-shadow: inset 25px -25px 0px var(--defaultColor-Light);
            }
        }
        &.inside {
            width: 2%;
            &.top_left {
                top: 42%;
                left: 44%;
                box-shadow: inset 15px 15px 0px var(--defaultColor-Dark);
            }
            &.top_right {
                top: 42%;
                right: 44%;
                box-shadow: inset -15px 15px 0px var(--defaultColor-Light);
            }
            &.bottom_right {
                bottom: 42%;
                right: 44%;
                box-shadow: inset -15px -15px 0px var(--defaultColor-Dark);
            }
            &.bottom_left {
                bottom: 42%;
                left: 44%;
                box-shadow: inset 15px -15px 0px var(--defaultColor-Light);
            }
        }
    }
    #printer {
        aspect-ratio: 1 / 2;
        height: calc(100vh - 2%);
        position: absolute;
        margin: 1%;
        background: url(../../../images/stagesImg/4/printer.svg) no-repeat center;
        background-size: cover;
        background-position: center top;
    }
}

@media (max-width: 999px) { /*スマホモード*/
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        main {
            #printer {
                height: auto;
                width: calc(80vw - 2%);
            }
            .brackets {
                &.outside {
                    width: 13%;
                    &.top_left {
                        top: 10%;
                        left: 5%;
                        box-shadow: inset 20px 20px 0px var(--defaultColor-Dark);
                    }
                    &.top_right {
                        top: 10%;
                        right: 5%;
                        box-shadow: inset -20px 20px 0px var(--defaultColor-Light);
                    }
                    &.bottom_right {
                        bottom: 10%;
                        right: 5%;
                        box-shadow: inset -20px -20px 0px var(--defaultColor-Dark);
                    }
                    &.bottom_left {
                        bottom: 10%;
                        left: 5%;
                        box-shadow: inset 20px -20px 0px var(--defaultColor-Light);
                    }
                }
                &.inside {
                    width: 6%;
                    &.top_left {
                        top: 44%;
                        left: 30%;
                        box-shadow: inset 10px 10px 0px var(--defaultColor-Dark);
                    }
                    &.top_right {
                        top: 44%;
                        right: 30%;
                        box-shadow: inset -10px 10px 0px var(--defaultColor-Light);
                    }
                    &.bottom_right {
                        bottom: 44%;
                        right: 30%;
                        box-shadow: inset -10px -10px 0px var(--defaultColor-Dark);
                    }
                    &.bottom_left {
                        bottom: 44%;
                        left: 30%;
                        box-shadow: inset 10px -10px 0px var(--defaultColor-Light);
                    }
                }
            }
        }
    }
}
