/*基本設定*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandiflora+One&display=swap');
@import url('../../../root/style_pageback.css');
@import url('../../../root/style_clear_icon.css');
.font-bad {
    font-family: "Bad Script", cursive;
}
.font-grand {
    font-family: "Grandiflora One", cursive;
}
a, p, img{
    user-select: none; /* 選択禁止 */
    -webkit-user-drag: none; /* Webkitブラウザ（ChromeやSafari）向け */
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox向け */
}
body, html {
    background: var(--defaultColor);
    touch-action: manipulation;
    scrollbar-width: none;
    --htmlWidth: 100%;
    --htmlHeight: 100%;
    width: var(--htmlWidth);
    height: var(--htmlHeight);
    overflow: hidden;
    transition: 1s var(--transition-move);
}
:root {
    --portrait: 0;
}


/*--------------------------------------------------*/

main {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #permission {
        display: none;
    }
    .frame {
        display: block;
        position: absolute;
        border: solid;
        &#frame_0 {
            width: 1700px;
            height: 800px;
            border-width: 10px;
            border-color: rgb(0, 0, 0);
        }
        &#frame_1 {
            width: 1200px;
            height: 400px;
            border-width: 6px;
            border-color: rgb(50, 50, 50);
        }
        &#frame_2 {
            width: 700px;
            height: 160px;
            border-width: 2px;
            border-color: rgb(100, 100, 100);
        }
    }
    #clearIcon_0 {
        width: 120px;
        top: calc(16vh - 60px);
    }
    #clearIcon_1 {
        width: 80px;
        top: calc(34vh - 40px);
    }
    #clearIcon_2 {
        width: 40px;
        top: calc(45vh - 20px);
    }
}

@media (max-width: 999px) { /*スマホモード*/
    @media (orientation: portrait) {    /*縦向き用（portrait: 肖像画）*/
        :root { --portrait: 1; }
        main {
        }
    }
}
